<!DOCTYPE html>
<html lang="{{ app.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}Moca{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/icone.png') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="page">
        {% include 'site/toasts.html.twig' %}

        {% block header %}
            {% include 'site/header.html.twig' %}
        {% endblock %}

        <div class="page-wrapper">
            {% block body %}
            {% endblock %}
            {% block footer %}
                {% include 'site/footer.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
</body>
</html>
