{% extends 'site/base.html.twig' %}

{% block title %}Engajando Saberes{% endblock %}

{% block body %}
    <div class="page-body mt-0">
        <div class="row bg-blue bg-opacity-25">
            <div class="col-12">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col d-flex flex-column align-items-center justify-content-center home-hero gap-3">
                            <img src="{{ asset('img/imagemmeio.png') }}" alt="Logo Engajando Saberes" class="logo-home">
                        </div>
                        <div class="col d-flex flex-column align-items-center justify-content-center home-hero gap-3">
                            <h1 class="page-title text-blue fs-1">
                                Engajando Saberes
                            </h1>
                            <p class="text-blue fs-3">
                                Uma plataforma de ensino e aprendizagem colaborativa, onde professores e alunos
                                compartilham conhecimentos e experiências.
                            </p>
                            <a href="{{ path('site_disciplines') }}" class="btn btn-primary">
                                Ver Disciplinas
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-xl mt-5">
            <div class="row row-cards">
                <h2 class="mb-0">
                    Como Funciona a Engajando Saberes
                </h2>
                <span class="text-secondary mt-1 mb-3">Uma jornada transformadora pelo universo da programação</span>
                <div class="col-lg-6">
                    <div class="card bg-primary rounded-2">
                        <div class="card-body">
                            <h3 class="card-title mb-3 text-white">
                                Aprendizagem Gamificada
                            </h3>
                            <p class="text-white">
                                Nossa plataforma transforma o aprendizado de programação em uma aventura interativa.
                                Cada linha de código escrita é um passo em direção ao domínio de tecnologias que
                                moldarão o futuro digital.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body bg-primary rounded-2">
                            <h3 class="card-title mb-3 text-white">
                                Resolução de Problemas
                            </h3>
                            <p class="text-white">
                                Cada bug resolvido é uma vitória que fortalece suas habilidades de debugging e
                                pensamento
                                lógico.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body bg-primary rounded-2">
                            <h3 class="card-title mb-3 text-white">
                                Projetos Práticos
                            </h3>
                            <p class="text-white">
                                Projetos completos que rendem medalhas e desbloqueiam novos desafios progressivamente mais complexos.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body bg-primary rounded-2">
                            <h3 class="card-title mb-3 text-white">
                                Comunidade Ativa
                            </h3>
                            <p class="text-white">
                                Transforme dúvidas em aprendizado colaborativo e escale o ranking junto com outros desenvolvedores.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body bg-primary rounded-2">
                            <h3 class="card-title mb-3 text-white">
                                Sistema de Progressão
                            </h3>
                            <p class="text-white">
                                Acompanhe seu desenvolvimento através de um sistema de pontos, badges e rankings. Cada
                                desafio superado e projeto concluído demonstra sua evolução como desenvolvedor.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
